@model anypet.Models.Association

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Association</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <select asp-for="Location" class="form-control" asp-items="Html.GetEnumSelectList<Location>()"></select>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailOfUser" class="control-label"></label>
                <input asp-for="EmailOfUser" class="form-control" />
                <span asp-validation-for="EmailOfUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssociationAnimals" class="control-label"></label>
                <select asp-for="AssociationAnimals" class="form-control" asp-items="ViewBag.Animals" ></select>
                <span asp-validation-for="AssociationAnimals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdoptionDays" class="control-label"></label>
                <select asp-for="AdoptionDays" class="form-control" asp-items="ViewBag.AdoptionDays"></select>
                <span asp-validation-for="AdoptionDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
