@page
@model AdoptNet.Views.Home.AboutModel

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Raleway&family=Roboto&display=swap" rel="stylesheet">
    <title>AdoptNet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.83.1">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/product/">
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">


</head>
<body>

    <!--  header-navbar -->
    

    <h1 class="About">
        <br> </br>
        <b>About us: </b>

    </h1>
    <main class="container">

        <!--Top left-->
        <div id="wholepage" class="row mb-2">
            <div class="col-md-6">
                <div id="Left-Blog-box" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong id="Name-box" class="d-inline-block mb-2 text-primary"><h4>Limi Hodory</h4></strong>
                        <p class="card-text mb-auto">
                            Limor hodory, 26 years old , lives in Azor.
                            I'm a Computer science student, love to travel, meet new people and especially take care of animals and help them :)
                        </p>

                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="img-About " width="210" height="280" src="~/css/LIMI.jpeg" alt="Sitelogo">
                    </div>
                </div>
            </div>

            <!--Top right-->
            <div class="col-md-6">
                <div id="Right-Blog-box" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong id="Name-box" class="d-inline-block mb-2 text-primary"><h4>Rotem Rokah</h4></strong>
                        <p class="card-text mb-auto">
                            Rotem Rokah 25 yo, lives in Givat Brenner
                            Computer science student, love dogs, sport and Beer.
                            I enjoy playing basketball and training at the gym , and love learning new things.
                        </p>

                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="img-About " width="210" height="280" src="~/css/ROTEM.jpeg" alt="Sitelogo">
                    </div>
                </div>
            </div>

            <!--Bottom left-->
            <div class="col-md-6">
                <div id="Left-Blog-box" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong id="Name-box" class="d-inline-block mb-2 text-primary"><h4>Amit Ben Basat</h4></strong>
                        <p class="card-text mb-auto">
                            Amit ben basat
                            23 yo, lives in mosav gealya
                            love to read books, watching marvel and the proud honor of the best dog in the world
                            learning Computer science and loves food more then life.
                        </p>

                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="img-About " width="210" height="280" src="~/css/AMIT.jpeg" alt="Sitelogo">
                    </div>
                </div>
            </div>

            <!--Bottom right-->
            <div class="col-md-6">
                <div id="Right-Blog-box" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong id="Name-box" class="d-inline-block mb-2 text-primary"><h4>Liem Mazal</h4></strong>
                        <p class="card-text mb-auto">
                            Liem Mazal
                            24 yo, lives in Yehud
                            Computer science student, love animals, baking cakes and bread.
                            I enjoy running and exercising weekly, and love learning new things.
                        </p>

                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="img-About " width="210" height="280" src="~/css/LIEM.jpeg" alt="Sitelogo">
                    </div>
                </div>
            </div>
    </main>

    
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>