﻿﻿
* { /* This resets all elements default margins and paddings */
    margin: 0px;
    padding: 0px;
}


.container {
    max-width: 80%;
}

/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

    .site-header a {
        color: #8e8e8e;
        transition: color .15s ease-in-out;
    }

        .site-header a:hover {
            color: #fff;
            text-decoration: none;
        }



.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
}

    .product-device::before {
        position: absolute;
        top: 10%;
        right: 10px;
        bottom: 10%;
        left: 10px;
        content: "";
        background-color: rgba(255, 255, 255, .1);
        border-radius: 5px;
    }

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}

.moving1 {
    padding-right: 50px;
}

.btn-outline-secondary {
    margin-left: 10px;
    margin-right: 16px;
}


.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

@media (min-width: 992px) {
    .rounded-lg-3 {
        border-radius: .3rem;
    }
}

.Search, filter, mb-3 {
    text-align: left;
    float: left;
    color: white;
}

.Search {
    padding-left: 45px;
    padding-top: 30px;
    background-color: #262626;
}



.form-check-label {
    margin-right: 25px;
    color: white;
}





#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}





#video1 {
    margin: auto;
    display: block;
    width: 98%;
    height: 80%;
}

#videoMessage {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.welcome {
    text-align: center;
    padding-bottom: 20px;
    background: #E7E9EB;
    border-radius: 25px;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.4;
    opacity: 0.8;
}

@keyframes animation {
    from {
        letter-spacing: 32px;
    }

    to {
        letter-spacing: 0;
    }
}

.animated {
    animation: animation 5s ease infinite;
}

h1 {
    color: #FE7686;
    font-family: 'Raleway',sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

.p {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}



.d-block {
    width: 50px;
    height: 400px;
}


.carousel {
    width: 600px;
    height: 800px;
}

.card-title {
    text-align: center;
}

.text {
    color: #D1C9C8;
}

.Facebook {
    width: 50px;
    height: 50px;
}

.twitter {
    width: 60px;
    height: 60px;
    margin-right: 150px;
}

.instagram {
    width: 55px;
    height: 55px;
}

.icons1 {
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 150px;
}

.ic {
    padding-right: 100px;
}


.img_fluid {
    background-color: #212529;
}


.form-group {
    margin-bottom: 15px;
    text-align: center;
}

.control-label {
    font-size: 20px;
    font-weight: bold;
}

.subotton {
    background-color: #FE7686;
    height: 50px;
    width: 100px;
    border-bottom-color: black;
    margin-top: 15px;
}

body {
    background-image: url("background1.jpg");
    font-family: 'Raleway',sans-serif;
}

.formback {
    background-color: #F6F6F6;
}

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #040607;
}

    .footer-dark h3 {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 16px;
    }

    .footer-dark ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 0;
    }

        .footer-dark ul a {
            color: inherit;
            text-decoration: none;
            opacity: 0.6;
        }

            .footer-dark ul a:hover {
                opacity: 0.8;
            }

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

    .footer-dark .item.social > a:hover {
        opacity: 0.9;
    }

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}




/**/

#footerbootom {
    margin-bottom: 170px;
}

#dangiSize {
    border-bottom-color: black;
    margin-top: 15px;
    height: 50px;
    width: 100px;
}

.subtitle {
    color: #FE8C99;
    font-family: inherit;
    font-size: 30px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
}


.spacesdes {
    margin: 20px;
    font-weight: bold;
}


.About {
    text-align: center;
    float: none;
    color: #ff6666;
    padding-bottom: 45px;
}

.img-About {
    display: block;
    margin-left: auto;
    margin-right: initial;
    margin-top: auto;
}

#Name-box {
    color: #ff6666;
    background-color: #ff6666;
    color: black;
    padding: 6px;
    text-align: center;
    text-emphasis-color: #ff6666;
    margin-top: 0px;
}

h4 {
    color: lightblue;
}

#Left-Blog-box {
    outline-style: groove;
    outline-color: black;
    margin-right: 30px;
    margin-top: 40px;
}

#Right-Blog-box {
    outline-style: groove;
    outline-color: black;
    margin-left: 30px;
    margin-top: 40px;
}

#wholepage {
    padding-bottom: 70px;
}



.spceseColor {
    margin-right: 100px;
    background-color: #f8d7da;
    height: 580px;
    margin-bottom: 40px;
}


#hidden1 {
    display: none;
}

.card-img-top {
    width: 100%;
    height: 9vw;
    object-fit: cover;
}

.page-header {
    background: url(cute-cats-dogs-looking-up-down-border-set-colors-127890074-removebg-preview.png)no-repeat;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 160px;
}

.page-caption {
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-title {
    font-size: 70px;
    line-height: 1;
    color: #FE7686;
    font-weight: bold;
    text-align: center;
    margin-bottom: 70px;
    margin-top: -70px;

}

.join {
    color: #FE7686;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.bg-cover {
    background-size: cover !important;
}

.image {
    width: 50%;
    height: 60%;
    background-image: url(2104538.jpg);
    margin-left: 350px;
    margin-top: 100px;
    border-radius: 25px;
    padding-bottom: 200px
}

summary {
    border: 4px solid transparent;
    outline: none;
    border-color: black;
    padding: 2rem;
    display: block;
    background: #444;
    color: white;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
}

details {
    max-width: 500px;
    box-sizing: border-box;
    margin-top: 5px;
    background: white;
    display: block;
    margin-left: auto;
    margin-right: auto
}


details summary::-webkit-details-marker {
    display: none;
}

details[open] > summary:before {
    transform: rotate(90deg);
}

summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
}



.content {
    border-top: none;
    padding: 10px;
    border: 2px solid #888;
    border-top: none;
}


.down {
    margin-bottom: 350px;
}

.card-img-top2 {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.mix {
    margin-left: 46%;
    margin-bottom: 50px;
}

.animal-key {
    margin-top: -125px;
    margin-left: 30%;
    font-size: 60px;
    color: #FE7686;
}

