<div>
    <iframe width="350" height="700" frameborder="0" src="https://www.bing.com/maps/embed?h=700&w=350&cp=31.518294575752577~34.89229651282726&lvl=8&typ=s&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
    </iframe>
    <div style="white-space: nowrap; text-align: center; width: 350px; padding: 6px 0;">
        <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=31.518294575752577~34.89229651282726&amp;sty=r&amp;lvl=8&amp;FORM=MBEDLD">הצג מפה גדולה יותר</a> &nbsp; | &nbsp;
        <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=31.518294575752577~34.89229651282726&amp;sty=r&amp;lvl=8&amp;rtp=~pos.31.518294575752577_34.89229651282726____&amp;FORM=MBEDLD">קבל הנחיות נסיעה</a>
    </div>
</div>


