body {


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    FLOAT: right;
    direction: rtl;
    padding-left:54.5px;
}


.img-fluid {
    height:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;   
   
}

header {
    background-color: #EEEFF0;
}


.navbar-nav > li {
    padding-left: 45px;
    padding-right: 45px;

}



.dropdown-item {
   text-align:right;
}

.form-control{
    padding-left:90px;

}

.btn-outline-secondary {
    color:aliceblue;
    margin-right: 20px;
}

/*  //////////           */

.Search, filter, mb-3 {
    text-align: right;
    float: right;
    color: white;
}

.form-check-input[type=radio] {
    border-radius: 50%;
    float: right;
}
.Search {
    padding-right: 45px;
    padding-top: 30px;
   
}

.form-check-label {
    margin-right: 25px;
    color:white;
}

.bg-video__content {
    width: 100%;
    height: 100%;
}




