.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

    .site-header a {
        color: #8e8e8e;
        transition: color .15s ease-in-out;
    }

        .site-header a:hover {
            color: #fff;
            text-decoration: none;
        }



.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
}

    .product-device::before {
        position: absolute;
        top: 10%;
        right: 10px;
        bottom: 10%;
        left: 10px;
        content: "";
        background-color: rgba(255, 255, 255, .1);
        border-radius: 5px;
    }

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}

.moving1 {
    padding-right: 50px;
}

.btn-outline-secondary {
    margin-left: 10px;
    margin-right: 16px;
}


.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

@media (min-width: 992px) {
    .rounded-lg-3 {
        border-radius: .3rem;
    }
}

.Search, filter, mb-3 {
    text-align: left;
    float: left;
    color: white;
}

.Search {
    padding-left: 45px;
    padding-top: 30px;
    background-color: #262626;
}



.form-check-label {
    margin-right: 25px;
    color: white;
}





#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}





#video1 {
    margin: auto;
    display: block;
    width: 98%;
    height: 80%;
}

#videoMessage {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.welcome {
    text-align: center;
    padding-bottom: 20px;
    background: #E7E9EB;
    border-radius: 25px;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.4;
    opacity: 0.8;
}

@keyframes animation {
    from {
        letter-spacing: 32px;
    }

    to {
        letter-spacing: 0;
    }
}

.animated {
    animation: animation 5s ease infinite;
}

h1 {
    color: #FE7686;
    font-family: 'Raleway',sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

.p {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}



.d-block {
    width: 50px;
    height: 400px;
}


.carousel {
    width: 600px;
    height: 800px;
}

.card-title {
    text-align: center;
}

.text {
    color: #D1C9C8;
}

.Facebook {
    width: 50px;
    height: 50px;
}

.twitter {
    width: 60px;
    height: 60px;
    margin-right: 150px;
}

.instagram {
    width: 55px;
    height: 55px;
}

.icons1 {
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 150px;
}

.ic {
    padding-right: 100px;
}

/*      */
.About {
    text-align: center;
    float: none;
    color: #ff6666;
}

.img-About {
    display: block;
    margin-left: auto;
    margin-right: initial;
    margin-top: auto;
}

#Name-box {
    color: #ff6666;
    background-color: #ff6666;
    color: black;
    padding: 6px;
    text-align: center;
    text-emphasis-color: #ff6666;
    margin-top: 0px;
}

h4 {
    color: lightblue;
}

#Left-Blog-box {
    margin-left: 850px;
    margin-block-start: 70px;
    width: 570px;
    height: 310px;
    outline-style: groove;
    outline-color: blanchedalmond;
}

#Right-Blog-box {
    margin-left: 1100px;
    margin-block-start: 70px;
    width: 570px;
    height: 310px;
    outline-style: groove;
    outline-color: blanchedalmond;
}

.container {
    width: 1000000px;
    height: 1000000px;
}

#wholepage {
    width: 1000px;
    height: 1000px;
    margin-right:1000px;
    float:right;
}
