@model anypet.Models.UserReg

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserReg</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailOfUser" class="control-label"></label>
                <input asp-for="EmailOfUser" class="form-control" />
                <span asp-validation-for="EmailOfUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrivateName" class="control-label"></label>
                <input asp-for="PrivateName" class="form-control" />
                <span asp-validation-for="PrivateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ThereIsAnimal" /> @Html.DisplayNameFor(model => model.ThereIsAnimal)
                </label>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateOfCreate" class="control-label"></label>
                <input asp-for="DateOfCreate" class="form-control" />
                <span asp-validation-for="DateOfCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
